(internal_routing) {
  @internal {
    remote_ip 192.168.0.0/16 172.0.0.0/8 10.0.0.0/8
  }
  handle @internal {
    reverse_proxy {args.0}:{args.1}
  }
  respond 403
}

(jail2ban_log) {
  log {
    format json
    output file /var/log/caddy/CaddyAccess.json
  }
}

{
  security {
    local identity store localdb {
      realm local
      path /data/caddy/auth/local/users.json
    }
    authentication portal myportal {
     enable identity store localdb
     crypto default token lifetime 3600
     crypto key sign-verify {env.JWT_SHARED_KEY}
     cookie domain mydomain.com
			ui {
				links {
					"VPN" https://vpn.mydomain.com/ icon "las la-star"
					"My Identity" "/whoami" icon "las la-user"
				 }
		  }
     transform user {
       match realm local
       require mfa
     }
    }
	authorization policy mypolicy {
			# disable auth redirect
			set auth url auth.mydomain.com
			allow roles authp/admin authp/user
			crypto key verify {env.JWT_SHARED_KEY}
			allow roles anonymous guest admin
			allow roles authp/admin authp/guest
			allow roles admin editor viewer
			allow roles everyone Everyone

  }
}
}

auth.mydomain.com {
    route {
        authenticate with myportal
    }
}

vpn.mydomain.com {
  route {
  	authorize with mypolicy
  	reverse_proxy wireguard:51821
  }
  handle_errors {
    redir https://auth.mydomain.com
  }
}

emby.mydomain.com {
    import jail2ban_log
    reverse_proxy emby:8096
}

ombi.mydomain.com {
  import jail2ban_log
  reverse_proxy ombi:3579
}

dns.mydomain.com {
  import internal_routing "adguard" "80"
}

radarr.mydomain.com {
  import internal_routing "radarr" "7878"
}

sonarr.mydomain.com {
  import internal_routing "sonarr" "8989"
}

torrent.mydomain.com {
  import internal_routing "qbittorrent" "8080"
}

homebridge.local.xyz {
  tls internal
  reverse_proxy 192.168.50.130:8581
}

