(custom_log) {
  log {
    format transform "{common_log}"
  }
}

(internal_routing) {
  @internal {
    remote_ip 192.168.0.0/16 172.0.0.0/8
  }
  handle @internal {
    reverse_proxy {args.0}:{args.1}
  }
  respond 403
}

vpn.mydomain.com {
  import custom_log
  reverse_proxy wireguard:51821
}

ombi.mydomain.com {
  import custom_log
  reverse_proxy ombi:3579
}

dns.mydomain.com {
  import custom_log
  import internal_routing "adguard" "80"
}

radarr.mydomain.com {
  import custom_log
  import internal_routing "radarr" "7878"
}

sonarr.mydomain.com {
  import custom_log
  import internal_routing "sonarr" "8989"
}

torrent.mydomain.com {
  import custom_log
  import internal_routing "qbittorrent" "8080"
}
